@import '../scss/main.scss';

.section__title {
	font-weight: 500;
	font-size: clamp(1rem, 3.5vw, 5rem);
	color: #fd853a;
	margin-bottom: 4.5rem;
}

.container {
	max-width: 1350px;
	width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

.my__picture {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.error,
.repo__error {
	width: fit-content;
	font-size: clamp(1rem, 10vw, 4rem);
	font-weight: 700;
	color: #fd853a;
	margin: 20rem auto 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 2rem;
	background: #ffb4111a;
}

.aboutMe {
	width: 100%;
	min-height: 100vh;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	.about {
		& .container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.5rem;
		}

		&__wrapper {
			padding-top: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10rem;

			&_holder {
				backdrop-filter: blur(2.5px) hue-rotate(145deg);
				background: #fd853a13;
				display: flex;
				align-items: flex-end;
				border-radius: 20px;
				position: relative;
				img {
					max-width: 22rem;
					width: 100%;
					border: var(--BorderWhiteMode);
					object-fit: cover;
					border-radius: 1rem;
				}

				& .about__socials {
					display: flex;
					flex-direction: column;
					gap: 1rem;
					padding: 1rem;
					position: absolute;
					bottom: 0;
					right: 0;
					background: #fd853a3a;
					backdrop-filter: blur(7.5px) hue-rotate(50deg);
					border-top-left-radius: 1rem;
					border-bottom-right-radius: 1rem;
					border-top: var(--BorderWhiteMode);
					border-left: var(--BorderWhiteMode);

					img {
						border-radius: 50%;
						max-width: 1.5rem;
						width: 100%;
						object-fit: cover;
						object-position: center;
						cursor: pointer;
						border: none;
					}
				}
			}

			&_content {
				max-width: 35rem;
				width: 100%;
				display: flex;
				flex-flow: wrap column;
				backdrop-filter: blur(2.5px) hue-rotate(145deg);
				background: '#fd853a13';
				border-radius: 20px;
				padding: 1rem 1.5rem;
				border: var(--BorderWhiteMode);

				& h5 {
					font-weight: 500;
					color: var(--colorDarkMode);
					font-size: clamp(0.9rem, 2.5vw, 2rem);
					padding: 0.5rem 0;

					& span {
						color: #fd853a;
						font-weight: 500;
						font-size: clamp(0.8rem, 2.5vw, 2rem);
					}
				}

				p {
					color: var(--colorDarkMode);
					font-weight: 400;
					font-size: clamp(0.9rem, 1.5vw, 1.2rem);
					padding: 0.5rem 0;

					strong {
						color: #fd853a;
						font-size: clamp(1rem, 1.5vw, 1.5rem);
					}
				}
			}
		}
	}
}

.skills {
	margin-top: 4.5rem;
	position: relative;

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		align-items: center;
		gap: 1rem;
	}
	&__card {
		height: 100%;
		width: 100%;
		border-radius: 40px;
		padding: 1.5rem 0;
		background: var(--bgWhiteMode);
		box-shadow: 0 0 3px #fd853a;
		backdrop-filter: blur(2px);
		text-align: center;
		transition: 0.3s all ease-in-out;
		border: var(--BorderWhiteMode);

		&:hover {
			filter: hue-rotate(50deg);
			translate: 0 -4px;
		}

		img {
			max-width: 10rem;
			width: 100%;
			object-fit: cover;
			object-position: center;
			transition: 0.3s alla ease-in-out;
		}

		h5 {
			color: var(--colorDarkMode);
			font-weight: 400;
			font-size: clamp(1rem, 3.5vw, 2.5rem);
			flex-grow: 1;
		}
	}
}

.projects {
	width: 100%;
	min-height: 100vh;
	margin-top: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;

	&__card {
		padding: 1.2rem;
		min-height: 551px;
		width: fit-content;
		border-radius: 20px;
		border: var(--BorderWhiteMode);
		backdrop-filter: blur(2px);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 0.5rem;

		&_img {
			padding: 1rem;
			max-height: 20rem;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: 20px;
		}

		&_holder {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			height: 100%;
		}

		h3 {
			color: #fd853a;
			font-size: clamp(1rem, 2.5vw, 1.1rem);
			border: 0.9px solid #fd853a;
			padding: 0.6rem 1.2rem;
			width: fit-content;
		}

		a {
			width: fit-content;
			display: block;
			font-size: clamp(1rem, 2.5vw, 1.5rem);
			outline: 1px solid #fd853a;
			font-weight: 400;
			padding: 0.3rem 1.2rem;
			cursor: pointer;
			transition: 0.3s all ease-in-out;
			color: var(--colorDarkMode);

			&:hover {
				color: #fff;
				background: #fd853a;
			}
		}
	}

	.tabs__content {
		width: fit-content;
		display: flex;
		align-items: flex-start;
		gap: 1.5rem;
		height: 100vh;

		&_tab {
			width: fit-content;
			display: flex;
			flex-flow: column wrap;
			align-items: flex-start;
			border: var(--BorderWhiteMode);

			button {
				color: var(--colorProjects);
				font-size: clamp(1rem, 1.5vw, 1.5rem);
				padding: 0.4rem 1.2rem;
				transition: 0.3s all ease-in-out;
				width: 100%;
				text-align: left;

				&:hover {
					background: var(--colorNav);
					color: var(--colorProjects);
				}

				&.active {
					background: var(--colorNav);
					color: var(--colorProjectsActive);
				}
			}
		}

		.tabs__current {
			position: sticky;
			top: 11.5rem;
		}
	}
}

.projects__id {
	min-height: 100vh;
	width: 100%;
	position: relative;

	& .container {
		max-width: 1350px;
		width: 100%;
		margin: 0 auto;
		padding: 0 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&_item {
		display: flex;
		flex-direction: column;
		max-width: 75rem;
		width: 100%;
		border-radius: 2.5rem;
		border: var(--BorderWhiteMode);
		padding: 2.5rem;
		background: var(--bgDarkMode);
		backdrop-filter: blur(2px);
		margin-top: 7rem;

		& img {
			width: 100%;
			object-fit: cover;
			object-position: center;
		}

		& div {
			color: #fff;
			font-weight: 500;
			font-size: clamp(1rem, 2.5vw, 2.5rem);
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;
			padding: 1rem 0;

			span {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				h5 {
					color: var(--colorDarkMode);
					font-size: clamp(1rem, 2.5vw, 2.5rem);
				}
				color: #fd853a;
				font-size: clamp(1rem, 2.5vw, 2.5rem);
			}

			a {
				color: var(--colorDarkMode);
				padding: 0.5rem 1.2rem;
				outline: 1px solid #fd853a;
				font-weight: 400;
				font-size: clamp(1rem, 2.5vw, 2.5rem);
			}
		}

		& article {
			display: flex;
			flex-flow: row wrap;
			align-items: flex-end;
			justify-content: space-between;
			gap: 1.5rem;

			p {
				color: var(--colorDarkMode);
				padding: 2rem 0 0 0;
				font-weight: 400;
				font-size: clamp(1rem, 2.5vw, 1.5rem);

				& span {
					color: #fd853a;
					font-weight: 400;
					font-size: clamp(1rem, 2.5vw, 2.5rem);
				}
			}

			a {
				color: var(--colorDarkMode);
				padding: 0.5rem 1.2rem;
				outline: 1px solid #fd853a;
				font-size: clamp(1rem, 2.5vw, 2.5rem);
			}
		}
	}
}

.contacts__holder {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10rem;

	& .container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	& .section__title {
		span {
			color: #fff;
			padding-left: 0.2rem;
		}
	}

	& .form__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		background: #1f1d1dca;
		border: var(--BorderWhiteMode);
		border-radius: 50px;
		backdrop-filter: blur(2px) invert(10%);
		padding: 2.5rem;
		width: fit-content;

		.section__title {
			margin: 0;
		}

		& textarea {
			resize: none;
			max-width: fit-content;
			border: 1px solid #fff;
			border-radius: 20px;
			color: #fff;
			font-weight: 500;
			font-size: clamp(1rem, 1.9vw, 2rem);
			padding: 2rem;

			&::placeholder {
				color: #fff;
			}
		}

		.input {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			& input {
				padding: 0.5rem 1.5rem;
				color: #fff;
				font-weight: 500;
				font-size: clamp(1rem, 1.5vw, 2rem);
				border-bottom: 1px solid #fd853a;

				&::placeholder {
					color: #fff;
				}
			}
		}

		& button {
			width: fit-content;
			padding: 0.5rem 7rem;
			color: #fff;
			font-size: clamp(1rem, 1.5vw, 2rem);
			border: 1px solid #fff;
			transition: 0.3s all ease-in-out;

			&:hover {
				border: 1px solid #fd853a;
				color: #fd853a;
			}
		}
	}
}
