@import 'fonts.scss';
@import './adaptive.scss';

html {
	scroll-behavior: smooth;
	overflow: hidden;
	overflow-y: scroll;
}
.box {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #0f214168;
	backdrop-filter: blur(1px) hue-rotate(180deg);
	z-index: 999999;
	position: fixed;
	pointer-events: none;
	cursor: pointer;
}
.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}
.main {
	flex-grow: 1;
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	display: none;
}
::-webkit-scrollbar-track {
	background: none;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #3a91fc;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #d6d6d6;
}
body {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='1'/%3E%3C/g%3E%3C/svg%3E");
	background-color: var(--bgDarkMode);
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'FiraCode';
	font-weight: 400;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #000000;
}
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
}
button,
input,
textarea {
	border: none;
	background: none;
	outline: none;
}
input[type='text'] {
	border-bottom: 1px solid #fff;
}
body.Light {
	--bgDarkMode: #c3f4f64b;
	--colorFooterDarkMode: #fd853a;
	--footerBorder: #000;
	--colorDarkMode: #fd853a;
	--BorderWhiteMode: 1px solid #000000;
	--BorderNav: 0 0 3px #010101;
	--colorHeaderWhiteDarkMode: #000;
	--colorNav: #fd853a;
	--colorProjects: #2b2b2b;
	--colorProjectsActive: #2b2b2b;
	--colorActiveNavLink: #3a91fc;
	--bgActivenavLink: #53535365;
}
body.Dark {
	--bgActivenavLink: #ffffff65;
	--colorActiveNavLink: #fd853a;
	--bgDarkMode: #1f1d1d;
	--colorFooterDarkMode: #3a91fc;
	--footerBorder: none;
	--colorDarkMode: #3a91fc;
	--BorderWhiteMode: 1px solid #3a91fc;
	--BorderNav: none;
	--colorHeaderWhiteDarkMode: #fff;
	--colorNav: #3a91fc;
	--colorProjects: #3a91fc;
	--colorProjectsActive: #fff;
}
