@import 'fonts.scss';
@import './adaptive.scss';

html {
	scroll-behavior: smooth;
	overflow: hidden;
	overflow-y: scroll;
}
.box {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #0f214168;
	backdrop-filter: blur(1px) hue-rotate(180deg);
	z-index: 999999;
	position: fixed;
	pointer-events: none;
	cursor: pointer;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

#root,
body,
html {
	height: 100%;
}

.main {
	flex-grow: 1;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	display: none;
}

::-webkit-scrollbar-track {
	background: none;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #fd853a;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #d6d6d6;
}

body {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='1'/%3E%3C/g%3E%3C/svg%3E");
	background-color: var(--bgDarkMode);
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'FiraCode';
	font-weight: 400;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #000000;
}

::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

button,
input,
textarea {
	border: none;
	background: none;
	outline: none;
}
input[type='text'] {
	border-bottom: 1px solid #fff;
}

body.Light {
	--bgDarkMode: #ffffff;
	--colorFooterDarkMode: #fd853a;
	--footerBorder: #000;
	--colorDarkMode: #000000;
	--BorderWhiteMode: 1px solid #000000;
	--BorderNav: 1px solid #000000;
	--colorHeaderWhiteDarkMode: #fff;
	--colorNav: #fd853a;
}

body.Dark {
	--bgDarkMode: #1f1d1d;
	--colorFooterDarkMode: #fd853a;
	--footerBorder: none;
	--colorDarkMode: #ffffff;
	--BorderWhiteMode: 1px solid #fd853a;
	--BorderNav: none;
	--colorHeaderWhiteDarkMode: #fff;
	--colorNav: #fd853a;
}
